* {
  margin: 0;
  padding: 0;
}

body {
  background: #eeeeee77;
}

.btn-small {
  width: 120px;
  background: #333;
  color: white;
  font-size: 0.7rem;
  font-weight: 600;
  height: 40px;
  outline: none;
  border: none;
  cursor: pointer;
}
