.main-course-detail {
  width: calc(100% - 120px);
  margin-top: 2vh;
  margin-left: 80px;
  background: white;
  border-radius: 10px;
  padding-left: 20px;
  flex-wrap: wrap;
  padding-top: 100px;
  margin-bottom: 20px;
  .top-banner {
    width: 80%;
    background: #eee;
    color: #333;
    align-items: start;
    padding: 50px;
    place-items: 5%;
    border-radius: 10px;
    position: relative;
    gap: 20px;
    h1 {
      font-weight: 900;
      max-width: 700px;
      font-size: 1.8rem;
    }
    p {
      font-size: 1rem;
      max-width: 700px;
    }
    h3 {
      font-size: 0.7rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    .info-wrap {
      gap: 10px;

      h4 {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.6rem;
      }
    }
    .details-thumbnail {
      position: fixed;
      padding: 20px;
      background: #eee;
      border: 1px solid #80808090;
      right: 150px;
      top: 200px;
      background: #eee;
      border-radius: 10px;
      align-items: end;
      gap: 10px;
      img {
        border-radius: 10px;
        width: 240px;
      }
      p {
        background: blueviolet;
        padding: 10px 20px;
        border-radius: 10px;
        color: white;
        font-size: 0.5rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      button {
        position: relative;
        width: 240px;
        height: 40px;
        border-radius: 10px;
        background: #333;
        color: white;
        font-size: 0.7rem;
        font-weight: 600;
        border: none;
        text-transform: uppercase;
      }
      button::after {
        content: attr(data-price);
        position: absolute;
        top: -20px;
        color: #333;
        left: 10px;
      }
    }
    .profile-instructor {
      gap: 5px;
      h2 {
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
  }
  .course-details {
    width: 90%;
    min-height: 50vh;
    border-radius: 10px;
    align-items: start;
    margin-left: 2%;
    gap: 10px;
    .card {
      width: 500px;
      border: 1px solid #80808090;
      padding: 5px;
      .top-card {
        width: calc(100% - 40px);
        background: #444;
        color: white;
        justify-content: space-between;
        padding: 10px 20px;
        cursor: pointer;
        h3 {
          font-weight: 500;
          font-size: 0.7rem;
        }
      }
      .content {
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        opacity: 0;
        p {
          font-size: 0.8rem;
          transition: 0.3s;
          text-align: justify;
        }
      }
      .content.visible {
        max-height: 1000px;
        opacity: 1;
      }
    }
  }
}
