.sidebar {
  width: 50px;
  height: 96vh;
  gap: 50px;
  position: relative;
  position: fixed;
  top: 0;
  img {
    top: 0;
    width: 100px;
  }
  ul {
    display: flex;
    width: 40px;
    height: 60%;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    top: 20px;
    li {
      width: 40px;
      height: 40px;
      background: rgba(255, 255, 255, 0.315);
      list-style: none;
      border-radius: 10px;
      width: 100%;
      color: black;
      cursor: pointer;
    }
  }
  .logout {
    color: white;
    position: absolute;
    bottom: 20px;
    background: red;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.8rem;
  }
}
